---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-api-token
  namespace: traefik
spec:
  refreshInterval: 10m
  secretStoreRef:
    kind: ClusterSecretStore
    name: 1password-sdk
  target:
    name: cloudflare-api-token
  data:
    - secretKey: token
      remoteRef:
        key: "2gyusprqsntdbwhsfkb2dprzo4/Anmeldedaten"
...
