---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: cloudflare-api-token
  namespace: traefik
spec:
  itemPath: "vaults/54l3mtxgy3y4ogx2wa5ral4dny/items/2gyusprqsntdbwhsfkb2dprzo4"
...
