---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: democratic-csi-freenas-api-iscsi
  namespace: argocd
spec:
  project: default
  source:
    chart: democratic-csi
    repoURL: https://democratic-csi.github.io/charts
    targetRevision: 0.15.0
    helm:
      releaseName: freenas-api-iscsi
      values: |
        driver:
          existingConfigSecret: "democratic-csi-freenas-api-iscsi-config"
          config:
            driver: "freenas-api-iscsi"
        csiDriver:
          name: "org.democratic-csi.iscsi"
        controller:
          driver:
            image:
              tag: "next"
        node:
          driver:
            image:
              tag: "next"
        csiProxy:
          image:
            tag: "v0.5.7"
        
        storageClasses:
          - name: "freenas-iscsi-csi"
            reclaimPolicy: "Delete"
            volumeBindingMode: "WaitForFirstConsumer"
            allowVolumeExpansion: true
            parameters:
              fstype: "xfs"
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: democratic-csi
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      allowEmpty: false
      selfHeal: true
...
