---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: proxmox-csi-plugin
  namespace: argocd
spec:
  project: default
  source:
    chart: proxmox-csi-plugin
    repoURL: ghcr.io/panzer1119/charts
    targetRevision: 0.5.35
    helm:
      values: |
        replicaCount: 1
        existingConfigSecret: proxmox-csi-config
        metrics:
          enabled: true
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: csi-proxmox
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: false
      allowEmpty: false
      selfHeal: true
...
