---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: proxmox-csi-config
  namespace: csi-proxmox
spec:
  refreshInterval: 10m
  secretStoreRef:
    kind: ClusterSecretStore
    name: 1password-sdk
  target:
    name: proxmox-csi-config
    template:
      engineVersion: v2
      data:
        "config.yaml": |
          ---
          clusters:
            - url: "{{ .proxmox_url }}"
              insecure: {{ .proxmox_insecure }}
              token_id: "{{ .proxmox_token_id }}"
              token_secret: "{{ .proxmox_token_secret }}"
              region: "{{ .proxmox_region }}"
          
          ## Deploy Node CSI driver only on proxmox nodes
          #node:
          #  nodeSelector:
          #    # It will work only with Talos CCM, remove it overwise
          #    node.cloudprovider.kubernetes.io/platform: nocloud
          #  tolerations:
          #    - operator: Exists
          
          # Controller node scheduling
          nodeSelector:
            node-role.kubernetes.io/control-plane: ""
          tolerations:
            - key: node-role.kubernetes.io/control-plane
              effect: NoSchedule
          ...
  data:
    - secretKey: proxmox_url
      remoteRef:
        key: "e546nt7rvykps7jgqo6k743yqi/URL"
    - secretKey: proxmox_insecure
      remoteRef:
        key: "e546nt7rvykps7jgqo6k743yqi/Insecure"
    - secretKey: proxmox_token_id
      remoteRef:
        key: "e546nt7rvykps7jgqo6k743yqi/Benutzername"
    - secretKey: proxmox_token_secret
      remoteRef:
        key: "e546nt7rvykps7jgqo6k743yqi/Anmeldedaten"
    - secretKey: proxmox_region
      remoteRef:
        key: "e546nt7rvykps7jgqo6k743yqi/Region"
...
